body{
  padding: 0 ;
  margin: 0 ;
 

  
}



*{
  margin: 0 ;
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box ;
}
.logo{
  display: flex;
 font-weight: bold ;
 padding: 20px   ;


}

 header{
 display:flex ;
 justify-content: flex-start ;
 top: 0 ;
/*background: linear-gradient(90deg, #ffffff, #f7d6d8,#e8b1b5 );*/
 background-color: rgb(255, 233, 247);
border-radius: 10px  ;
box-shadow: 0 16px 25px rgb(117, 214, 255);



}

span{
  align-content: center;
   color:#70baff ;
   font-family: "El Messiri", sans-serif ;
   font-size: 60PX ;
   font-weight: bold ;
}
.main-section a {
  display: flex ;
  text-decoration: none ;
  align-items: center ;

   font-family: "El Messiri", sans-serif ;
   font-weight: bold ;
   font-size: 25PX   ;
   flex-direction: row-reverse ;
   color: rgb(252, 80, 175);
 padding: 2px 4px ;/*الكلام يجي في وسط المربع عند ضغط ع ل*/
}
a:hover{
background-color: #0d6efd;
  color:white ;
 
  border-radius: 8px ;
  box-shadow: 0 2px 4px rgba(241, 221, 0, 0.975);
  text-align: center;
   

}
.main-section {
  
  display: flex ;
  gap:  100px   ;
  padding: 35px  100px;   /*مسافة بين شعار واسم المتجر  100*/
 
}
.main-page {
  display: flex;
  padding: 100px    130px   ;
  background-image: url(IMG_4267.PNG);

background-position: initial;
background-size: contain;
  


}

.hero h1 {
  font-size: 70px      ;
  font-weight: bold ;
  color:#fef9fb ;
  font-family: 'Changa', sans-serif;
  margin-top: -70px  ; /*رفع النص للاعلئ ليناسب مستوئ الصورة*/
  

}
 


.hero {
  line-height:  140PX      ;
  padding: 140px     ;
  
}
.hero a {
  text-decoration:none;
  background-color: #70baff ;
  font-size: 30px ;
  
  color: rgb(251, 254, 255);
  font-weight: bold;
  border-radius: 30px  ;
  box-shadow: 0 8px 16px rgba(108, 34, 86, 0.1);
  padding: 30px 60px ;
margin: 200px  ;

  
}
.hero a:hover{
  
 background-color:rgb(169, 204, 234);
 color:white ;
box-shadow: 0 8px 16px rgba(239, 243, 244, 0.975);
 

}
.hero p{
  font-size: 30px  ;
  font-weight: bold ;
  color: rgb(255, 198, 229);
  box-shadow: 0 16px 32px   rgb(255, 198, 229);


}
.image {

  width: 550px    ;
  height: 630px        ;
  max-width: 100% ;
 
  border: 5px solid white;
  
border-radius: 10px ;
box-shadow: 0 16px 32px rgba(247, 244, 240);
background-image: url(IMG_4048.PNG);
background-position: center;
background-size: cover;
  align-items: center ;

}
.boxes{
  display: flex ;
 gap :30px ;/*الميافة بين  بوكس الصورة والبوكس الاخر*/
 padding: 30px 60px ;
  font-family: "El Messiri", sans-serif ;
  background-color: rgb(255, 233, 247);
 
     
    
}
.box{
  
  border-radius: 30px;
   box-shadow: 0 8px 16px rgb(255, 198, 229);
 
    
 
  


}
.box img {

width: 100% ;
height: auto;
gap: 30px ;
border-radius: 20px ;
 margin-bottom: 30px  ;/* مسافة بين الصورة ولكلام*/
 box-shadow: 0 16px 16px rgb(107, 204, 243);



}

.box h3 {
  font-weight: bold;
  font-size: 36px ;
  text-align:center ;
  color:rgb(1, 77, 110); ;
   margin-bottom: 10px ;/* مسافة بين لكلام والسعر*/

}
.price{
  font-size: 30px ;
  text-align: center;
  margin-bottom: 35px  ;
  color:black;
 
}
.section-title{
  font-weight: bold;
  font-size: 70px ;
  color:white ;
  font-family: "El Messiri", sans-serif ;
  padding: 20px 60px ;
  background-color: rgb(255, 233, 247);
}
.btn{
display: block;/*البطمة فالوسط*/
margin: 0 auto ;/*البطمة فالوسط*/

margin-bottom: 35px  ;/*مسافة بين بطمة ة البوكس*/
 background-color: rgb(255, 114, 206);
  color:#ffffff;
  padding: 15px 30px  ;
  font-size: 35px ;
  border-radius: 30px ;
  border: none;
  box-shadow: 0 8px 16px rgba(209, 209, 107, 0.1);
}
.btn:hover{
  background-color: rgb(253, 63, 186);
box-shadow: 0 8px 16px rgba(108, 34, 86, 0.1);

}
.box:hover{
 transform: translateY(-10px);


}
footer{

display: flex;
flex-direction: row;
justify-content: center;
  font-size: 40px;
  height: 120px  ;
  
  align-items: center;
  text-align: center;
  font-weight: bold ;
  background: linear-gradient(90deg, #ffffff, #f7d6d8,#e8b1b5 );
  color: rgb(1, 77, 110);


}
footer img{

  width:100px ;
  height: 100px ;
  align-content: center;

}